html {
  box-sizing: border-box;
  font-family:'helvetica neue';
  font-weight: 300;
  color: #484848;
}
body {
  margin: 0;
  height: 100vh;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*---------- Header ----------*/

header h1,h5{
  text-align: center;
}

/*---------- Filters ----------*/

.filters {
  background-color: #ccc;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
}
.filters div {
}
.filters__dropdown {
  width: 15%;
}
.filters__search {
  flex: 1;
}
.filters__dropdown select {
  width: 100%;
  height: 30px;
}
.filters__search input {
  margin-left: 20%;
  height: 30px;
  border: none;
  width: 40%;
  padding-left: 1%
}
.search-results {
  width: 33.25%;
}
.search-results li {
  border-bottom: 1px solid #D8D8D8;
  margin: 0;
  padding: 2%;
  display: flex;
  text-transform: capitalize;
  cursor: pointer;
  background: #333;
  color: #fff;
  border-radius: 5px;
}
.search-results li:hover {
  background: #000;
}
.search-form__ul {
  position: absolute;
  z-index: 10;
  margin-left: 16.75%;
}
.search-form__ul li {
  background: #999;
}
.search-form__ul li:hover {
  color: #fff;
}

/*---------- Home ----------*/

.home {
  background-color: #eee;
}
.home__labels,
.home__results {
  display: flex;
  flex-direction: row;
}
.home__labels {
  padding-top: 15px;
  margin-right: 20px;
}
.home__results {
  background-color: #fff;
  margin: 15px 20px 15px 0;
  border-right: 5px solid red;
}
.home__results-false {
  background-color: #eee;
  text-decoration: line-through;
}
.home__labels li,
.home__results li {
  display: flex;
  /*flex: 1;*/
  align-items: center;
}
.home__labels li:first-child,
.home__results li:first-child {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.home__labels li:nth-child(1n+2),
.home__results li:nth-child(1n+2) {
  flex: 1;
}
.home__labels li:nth-child(2),
.home__results li:nth-child(2) {
  padding-left: 25px;
}
.home__results li h5 {
  font-weight: 400;
}
.home__results select {
  width: 90%;
  height: 30px;
}
